DATABASE_URL=postgres://postgres:CldTest1234@localhost/postgres
RUST_LOG=info

HOST=127.0.0.1
PORT=8180

WORKING_DIR=/app/workingdir/downloads

VMBFCOREAPI_IMGPROC_MKEY=supersecretkey
VMBFCOREAPI_IMGPROC_UID=hexstring_uid