DATABASE_URL=postgres://postgres:CldTest1234@localhost/postgres
RUST_LOG=info
HOST=0.0.0.0
PORT=8180

WORKING_DIR=./workingdir/downloads

VMBFCOREAPI_IMGPROC_MKEY="your_app_master_key"
VMBFCOREAPI_IMGPROC_MUID="your_app_master_uid"